<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snow</title>
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="main"></div>
</body>
</html>
