<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snow</title>
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="main">
        <canvas id="canvas" width="320" height="240" />
    </div>
</body>
</html>
